<div><h1>Welcome to Mr.Cocktail</h1>
    <div>
    <p>Awesome beverages for developers nightlife</p>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  </div>
   
</div>